<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distributed Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
    <h2>Distributed Search</h2>
    <input type="text" id="search_box">
    <p>Min score</p><input type="text" id="score">
    <p>Max results</p><input type="text" id="num_results">
    <p><input type="submit" id = "submit_button"></p>
    <table id="results_table">

    </table>
</body>
</html>